<!-- main header -->
<div class="jumbotron">
	<div class="container">
		<h1>WDIM 393I Week 4</h1>
		<p>This is a sample application for WDIM393I.  Let's use some APIs.</p>
		<p><div class="col-lg-6"><div class="input-group">
				<input id="search" type="text" class="form-control">
				<div class="input-group-btn">
				<button id="getSearch" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search <%= section %> <span class=".glyphicon .glyphicon-search"></span></button>
			</div></div>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<h3 class='.term'></h3>
	<section class="row" id="content">
		
	</section>
</div> <!-- /container -->