$mainHeight : 600px;
$navWidth: 30%;

@mixin navigationMixin($color, $hoverColor:#888) {
	color: $color;
	text-decoration: none;

	&:hover {
		color: $hoverColor;
		text-decoration: underline;
	}
}

.navigationExtend {
	color: #333;
	text-decoration: none;

	&:hover {
		color: #888;
		text-decoration: underline;
	}
}